<div class="row">
    <div class="col-md-6 col-sm-6">
        <h1>Blocks</h1>
        <div ng-repeat="t in latest_blocks track by $index">
            <div class="card mb-1">
                <div class="card-header">
                    <i class="fa fa-cube"></i> <a href="/block/{{t.number}}">{{t.number}}</a>
                </div>
                <div class="card-body">
                    <div>When: {{t.timestamp | timeDuration }} ago</div>
                    <div>Data: <a href="/addr/{{t.miner}}">{{t.extraData}}</a></div>
                    <div>Address: <a href="/addr/{{t.miner}}">{{t.miner}}</a></div>
                    <div>Transactions: {{t.transactions.length}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6" >
        <h1>Transactions</h1>
        <div ng-repeat="t in latest_txs track by $index">
            <div class="card mb-1">
                <div class="card-header">
                        <a href="/tx/{{t.hash}}" class="primary-link">{{t.hash.substr(0,24)}}...</a>
                </div>
                <div class="card-body">
                    <div>When: {{t.timestamp | timeDuration }} ago</div>
                    <div>From: <a href="/addr/{{t.from}}">{{t.from.substr(0,24)}}...</a></div>
                    <div>To <a href="/addr/{{t.to}}">{{t.to.substr(0,24)}}...</a></div>
                    <div>Amount: {{t.value}} TFX</div>
                </div>
            </div>
        </div>
    </div>
</div>

