<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="container">
            <a class="navbar-brand" href="https://explorer.trinityfx.org">Trinity Block Explorer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nav">
                <form name="form.searchForm" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" name="explorerSearch" type="search" placeholder="Search by Address / Txhash / BlockNum" ng-model="form.searchInput" ng-keyup="$event.keyCode == 13 ? searchQuery(form.searchInput) : null" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button" ng-click="searchQuery(form.searchInput)">Search</button>
                </form>
                <ul class="navbar-nav ml-auto py-3">
                    <li class="nav-item"><a class="nav-link" href="https://trinityfx.org">Home (trintyfx.org) </a></li>
                    <li class="nav-item"><a class="nav-link" href="https://wallet.trinityfx.org">Wallet</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://explorer.trinityfx.org">Explorer</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://stats.trinityfx.org">Stats</a></li>
                </ul>
               
            </div>
        </div>
    </nav>